* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

body {
  background-color: darkslateblue;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container {
  padding-top: 5vh;
  display: block;
  justify-content: center;
  align-items: center;
}
.display{
  width: 20vw;
  height: 10vh;
  background-color: aqua;
  display: flex;
}
.buttons {
  background-color: blue;
  display: inline-block;
  width: 20vw;
  height: 20vh;
  display: flex;

}

button{
  width: 40px;
  height: 40px;
}